.rodape{
    background-color: var(--Preto);
    text-align: center;
    margin-top: 3em;
    position: sticky;
    bottom: 0;

    padding: .5em;
}

.texto{
    color: var(--Branco);
    font-size: 18px;
    font-weight: 400;

}