:root{
  --Fonte: "Montserrat", sans-serif;
  --Branco: #fff;
  --Preto: #000;
  --Cinza: #E2E2E2;
}

body {
  margin: 0;
  font-family:var(--Fonte);
  background-color: var(--Branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
